
{{> head }}

    {{> modal }}
    {{> modalLogin}}
        <section class="max1400 flex-contenedor">
            <section class="encabezado">
                <div>
                    <i class="fa fa-arrow-circle-right"></i>
                    <a>Resultado</a> 
                </div>
                <div>
                    <select name="ordenar" id="ordenar">
                        <option value="">Ordenar por</option>
                        <option value="/producto/buscar/palabra={{ palabraFiltro }}/idcat={{ categoriaFiltro }}/idsub={{ subcategoriaFiltro }}/idmarca={{ marcaFiltro }}/orden=asc">Menor-precio</option>
                        <option value="/producto/buscar/palabra={{ palabraFiltro }}/idcat={{ categoriaFiltro }}/idsub={{ subcategoriaFiltro }}/idmarca={{ marcaFiltro }}/orden=desc">Mayor precio</option>
                    </select>
                    <a id="botonVistaCuadricula"><i class='fas fa-th encabezado--grande verde'></i></a>
                    <a id="botonVistaFila"><i class='fas fa-align-justify encabezado--grande verde'></i></a>
                </div>
            </section>
            <!--************ASIDE CATEGORIA**********-->
            <aside class="categoria">
                <ul class="categoria__especificacion">
                    <li class="categoria__especificacion--verde">Categoria</li>
                    <li>
                        {{#each categorias}}
                        <a href="/producto/buscar/palabra={{ ../palabraFiltro }}/idcat={{ idcategoria }}/idsub={{ ../subcategoriaFiltro }}/idmarca={{ ../marcaFiltro }}/orden=-1" class="categoria__especificacion__link">{{ nombre }} ( {{ dataValues.cantidad }} )</a>
                        {{/each}}
                    </li>
                </ul>
                <ul class="categoria__especificacion">
                    <li class="categoria__especificacion--verde">Subategoria</li>
                    <li>
                        {{#each subcategorias}}
                        <a href="/producto/buscar/palabra={{ ../palabraFiltro }}/idcat={{ ../categoriaFiltro }}/idsub={{ idsubcategoria }}/idmarca={{ ../marcaFiltro }}/orden=-1" class="categoria__especificacion__link">{{ nombre }} ( {{ dataValues.cantidad }} )</a>
                        {{/each}}
                    </li>
                </ul>
                <ul class="categoria__especificacion">
                    <li class="categoria__especificacion--verde">Marca</li>
                    <li>
                        {{#each marcas}}
                        <a href="/producto/buscar/palabra={{ ../palabraFiltro }}/idcat={{ ../categoriaFiltro }}/idsub={{ ../subcategoriaFiltro }}/idmarca={{ idmarca }}/orden=-1" class="categoria__especificacion__link">{{ nombre }} ( {{ dataValues.cantidad }} )</a>
                        {{/each}}
                    </li>
                </ul>
            </aside>
            <!--************SECCION PRODUCTOS**********-->
            <section class="flex-contenedor-start lista-productos">
                {{#each productos }}
                <figure class="producto productoEstandar">
                    <a href="/producto/perfil/{{ idproducto }}" class="producto__interaccionArticulo">
                        <img src="/assets/img/producto/{{ img }}" class="producto__img" name="imgProducto">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        <h4 name="nombreProducto" data-id={{ idproducto }}>{{ nombre }}</h4>
                    </a>
                    <figcaption>
                        <h4 class="producto__precio">ARS <span name="precioProducto">{{ precio }}</span></h4>
                        <a class="botonAgregarProducto campoBoton campoBoton--negro" style="display:none">AGREGAR</a>
                    </figcaption>
                </figure>
                {{ else }}
                <p class="textoCentro">* No hay resultados para esta busqueda *</p>
                {{/each}}
            </section>
        </section>

    <script>
        ordenarProductos();
        leerVistaDeArticulos();
        eventoCambiarVistaProducto();
        funcionParaQueElArticuloSeOpaqueYAparezcaMasInfo();
        eventoAñadirProducto()
    </script>
{{> footer }}