{{>head}}

<div class="container">
    <div class="row">
        <section class="col">
            <h3 class="bg-dark text-white p-3 my-3 rounded-3"><i class="fas fa-user textoVerde me-3"
                    aria-hidden="true"></i>Mi Cuenta</h3>
            <article class="row mb-3">
                <div class="col-12 col-md-6 text-center">
                    <img src="/assets/img/usuario.png" class="foto-perfil">
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center">
                    <div>
                        <p class='my-0'><strong>Nombre:</strong> {{ usuario.nombre }}</p>
                        <br>
                        <p class='my-0'><strong>Email:</strong> {{ usuario.email }}</p>
                    </div>
            </article>

            <h3 class="bg-dark text-white p-3 my-3 rounded-3"><i class="fas fa-shopping-cart textoVerde me-3"
                    aria-hidden="true"></i>Mis pedidos</h3>

            <article class="table-responsive my-3">
                <table class="table table-striped table-bordered text-center align-item-center">
                    <thead>
                        <tr class='bg-dark text-white'>
                            <th scope='col'>Código</th>
                            <th scope='col'>Fecha</th>
                            <th scope='col' class='d-none d-md-table-cell'>Metodo de pago</th>
                            <th scope='col'>Estado</th>
                            <th scope='col' class='d-none d-md-table-cell'>Total</th>
                            <th scope='col'>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each pedidos}}
                        <tr>
                            <th>{{ idpedido }}</th>
                            <th>{{ fecha }}</th>
                            <th class='d-none d-md-table-cell'>efectivo</th>
                            <th>{{ estado.nombre }}</th>
                            <th class='d-none d-md-table-cell'>${{ total }}</th>
                            <th>
                                <a href="/pedido/{{ idpedido }}" class="btn btn-violeta">Mas info</a>
                            </th>
                        </tr>
                    {{ else }}
                        <th class="text-center" colspan="6">* No hay pedidos hechos *</th>
                    {{/each}}
                    </tbody>
                </table>
            </article>
        </section>
    </div>
</div>

{{> footer }}