{{>head}}
    {{> modal }}
    <section class="max1400">
        <section class="panelControl">
            <a href="/product/profile/{{productoDB.IdProducto}}" class="campoBoton campoBoton--azul">Perfil Producto</a>
            <a href="/admin" class="campoBoton campoBoton--azul">Inicio</a>
        </section>
        <form id="productForm" method="POST" action="/product/update/{{ productoDB.IdProducto }}" class="flex-contenedor" enctype="multipart/form-data">
            <figure class="galeria__figure">
                <img src="/assets/img/producto/{{productoDB.Img}}" class="galeria__figure--tamanioPerfil" id="imagenProducto">
                <button type="button" id="botonInputFileEstilizado" class="campoBoton campoBoton--azul">Editar foto</button>
                <input type="file" name="imagen" id="elegirFoto" accept="image/*">
            </figure>
            <article class="caracteristicas">
                <section>
                    <label for="nombre" class="formulario__label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="inputEdicion formulario__input" value="{{productoDB.Nombre}}" maxlength="200" minlength="5">
                    <label for="marca" class="formulario__label">Marca</label>
                    <select id="marca" name="marca" class="inputEdicion formulario__input">
                        {{#each marcasDB}}
                            {{#if objetivo}}
                                <option value="{{IdMarca}}"  selected>{{Nombre}}</option>
                            {{else}}
                                <option value="{{IdMarca}}">{{Nombre}}</option>
                            {{/if}}
                        {{/each}}
                    </select>        
                    <label for="categoria" class="formulario__label">Categoria</label>
                    <select id="categoria" name="categoria" class="inputEdicion formulario__input">
                        {{#each categoriasDB}}
                            {{#if objetivo}}
                                <option value="{{IdCategoria}}"  selected>{{Nombre}}</option>
                            {{else}}
                                <option value="{{IdCategoria}}" >{{Nombre}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                    <label for="subcategoria" class="formulario__label">Subcategoria</label>
                    <select id="subcategoria" name="subcategoria" class="inputEdicion formulario__input">
                        {{#each subcategoriasDB}}
                            {{#if objetivo}}
                                <option value="{{IdSubcategoria}}" class="subcategoria" data-categoria="{{Categoria_IdCategoria}}" selected>{{Nombre}}</option>
                            {{else}}
                                <option value="{{IdSubcategoria}}" class="subcategoria" data-categoria="{{Categoria_IdCategoria}}" >{{Nombre}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                    <label for="proveedor" class="formulario__label">Proveedor</label>
                    <select id="proveedor" name="proveedor" class="inputEdicion formulario__input">
                        {{#each proveedoresDB}}
                            {{#if objetivo}}
                                <option value="{{IdProveedor}}" selected>{{Nombre}}</option>
                            {{else}}
                                <option value="{{IdProveedor}}">{{Nombre}}</option>
                            {{/if}}
                        {{/each}}
                    </select>       
                    <label for="codigo" class="formulario__label">Codigo</label>
                    <input type="text" name="codigo" id="codigo" class="inputEdicion formulario__input" value="{{productoDB.Codigo}}" maxlength="45" minlength="1">     
                    <label for="garantia" class="formulario__label">Garantia</label>
                    <input type="text" name="garantia" id="garantia" class="inputEdicion formulario__input" value="{{productoDB.Garantia}}" maxlength="45" minlength="1">     
                    <label for="stock" class="formulario__label">Stock</label>
                    <input type="number" name="stock" id="stock" class="inputEdicion formulario__input--corto" value="{{productoDB.Stock}}" min="0">
                    <label for="precio" class="formulario__label">Precio</label>
                    <input type="number" name="precio" id="precio" class="inputEdicion formulario__input--corto" value="{{productoDB.Precio}}" min="0">  
                    <label for="costo" class="formulario__label">Costo</label>
                    <input type="number" name="costo" id="costo" class="inputEdicion formulario__input--corto" value="{{productoDB.Costo}}" min="0">  
                </section>
            </article>
        </form>
        <textarea form="productForm" class="textoNota" name="descripcion" maxlength="1500">{{productoDB.Descripcion}}</textarea>
        <input form="productForm" type="submit" value="Actualizar" class="campoBoton campoBoton--verdeOscuro">
        <a href="/producto" class="campoBoton campoBoton--azul">Cancelar</a>
    </section>


    <script>
        validarFormularioProducto()
        funcionMostrarFoto();
        eventoCategoria();
    </script>

