{{>head}}

<!-- Modal Alerta Eliminar Producto -->
<div class="modal fade" id="alertaEliminar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Estas seguro que desea eliminar <strong>{{producto.nombre}}</strong>?
            </div>
            <div class="modal-footer">
                <a href='/producto/borrar/{{ producto.idproducto }}' class="btn btn-danger">Aceptar</a>
                <a class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>

<div class="container mb-4">
    <form class="row" id="productForm" method="POST" action="/producto/actualizar/{{producto.idproducto}}" enctype="multipart/form-data">
        <section class="col-12 justify-content-end d-flex mt-3">
            <a data-bs-toggle="modal" data-bs-target="#alertaEliminar" class="btn btn-danger me-2">Borrar Producto</a>
            <a href="/producto/perfil/{{producto.idproducto}}" class="btn btn-violeta me-2">Perfil del producto</a>
            <a href="/admin" class="btn btn-violeta">Inicio</a>
        </section>
        <header class="col-12">
            <h3 class="bg-dark text-white p-3 my-3 rounded-3">Editar producto</h3>
        </header>
        <article class="col-12 col-md-6 text-center">
            <img src="/assets/img/producto/{{producto.img}}" alt="producto" class="img-thumbnail mb-3"
                id="imagenProducto">
            <br />
            <button type="button" id="botonInputFileEstilizado" class="btn btn-violeta">
                Editar foto
            </button>
            <input type="file" name="imagen" id="elegirFoto" accept="image/*" class='d-none'>

        </article>
        <article class="col-12 col-md-6">
            <div class="mb-3">
                <label for="nombre" class="form-label">
                    Nombre
                </label>
                <input type="text" class="form-control" id='nombre' name='nombre'
                    placeholder='Auricular Kingston Hyper X Cloud Stinger Core PS4' value="{{producto.nombre}}"
                    maxlength="200" required>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <label for="" class="form-label">
                        Codigo del producto
                    </label>
                    <input type="text" class="form-control" name='codigo' id='codigo' placeholder='90DC0020-B30000'
                        value="{{producto.codigo}}" maxlength="45" required>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label for="garantia" class="form-label">
                        Garantia
                    </label>
                    <input type="text" class="form-control" name='garantia' id='garantia' placeholder='0 meses'
                        value="{{producto.garantia}}" maxlength="45" required>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label for="marca" class="form-label">Marca</label>
                    <select name="marca_id" id="marca_id" class="form-select">
                        {{#each marcas}}
                        {{#if objetivo}}
                        <option value="{{idmarca}}" selected>{{nombre}}</option>
                        {{else}}
                        <option value="{{idmarca}}">{{nombre}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label for="proveedor" class="form-label">Proveedor</label>
                    <select name="proveedor_id" id="proveedor_id" class="form-select">
                        {{#each proveedores}}
                        {{#if objetivo}}
                        <option value="{{idproveedor}}" selected>{{nombre}}</option>
                        {{else}}
                        <option value="{{idproveedor}}">{{nombre}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label for="categoria" class="form-label">Categoria</label>
                    <select name="categoria_id" id="categoria" class="form-select">
                        {{#each categorias}}
                        {{#if objetivo}}
                        <option value="{{idcategoria}}" selected>{{nombre}}</option>
                        {{else}}
                        <option value="{{idcategoria}}">{{nombre}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label for="subcategoria" class="form-label">Subcategoria</label>
                    <select name="subcategoria_id" id="subcategoria_id" class="form-select">
                        {{#each subcategorias}}
                        {{#if objetivo}}
                        <option value="{{idsubcategoria}}" class="subcategoria" data-categoria="{{categoria_id}}"
                            selected>
                            {{nombre}}</option>
                        {{else}}
                        <option value="{{idsubcategoria}}" class="subcategoria" data-categoria="{{categoria_id}}">
                            {{nombre}}
                        </option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-3">
                    <label for="stock" class="form-label">
                        Stock ( unidades )
                    </label>
                    <input type="number" class="form-control" id='stock' name='stock' placeholder='00'
                        value="{{producto.stock}}" required>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <label for="precio" class="form-label">
                        Precio
                    </label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id='precio' name='precio' placeholder='00'
                            value="{{producto.precio}}" required>
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <label for="costo" class="form-label">
                        Costo
                    </label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id='costo' name='costo' placeholder="00"
                            value="{{producto.costo}}" required>
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-12">
            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea name="descripcion" id="descripcion" cols="30" rows="10" class='form-control mb-3' maxlength="1500">{{producto.descripcion}}</textarea>
            <div>
                <input type="submit" value="Aceptar cambios" class="btn btn-violeta w-100 mb-3">
                <a href="/producto" class="btn btn-primary w-100">Cancelar</a>
            </div>
        </article>
    </form>
</div>

<script>
    funcionMostrarFoto();
    eventoCategoria();
</script>

{{>footer}}