{{>head}}
    
    <section class="max1400">
        <section class="flex-contenedor">
            <figure class="galeria__figure">
                <img src="/assets/img/logo_cougar.png" class="galeria__figure--tamanioPerfil">
            </figure>
            <article class="caracteristicas">
                <form id="productForm" method="POST" action="/product/update/{{usuarioDB._id}}">
                    <label for="nombre" class="formulario__label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="campo-imput formulario__input" value="{{usuarioDB.nombre}}">
                    <label for="categoria" class="formulario__label">Categoria</label>
                    <input type="text" name="categoria" id="categoria" class="campo-imput formulario__input" value="{{usuarioDB.categoria}}">
                    <label for="marca" class="formulario__label">Marca</label>
                    <input type="text" name="marca" id="marca" class="campo-imput formulario__input" value="{{usuarioDB.marca}}">            
                    <label for="codigo" class="formulario__label">Codigo</label>
                    <input type="text" name="codigo" id="codigo" class="campo-imput formulario__input" value="{{usuarioDB.codigo}}">     
                    <label for="stock" class="formulario__label">Stock</label>
                    <input type="text" name="stock" id="stock" class="campo-imput formulario__input" value="{{usuarioDB.stock}}">
                    <label for="precio" class="formulario__label">Precio</label>
                    <input type="text" name="precio" id="precio" class="campo-imput formulario__input" value="{{usuarioDB.precio}}">  
                </form>
            </article>
        </section>
        <textarea form="productForm" class="textoNota" name="descripcion">{{usuarioDB.descripcion}}</textarea>
        <input form="productForm" type="submit" value="Actualizar" class="campoBoton campoBoton--verdeOscuro">
    </section>