{{>head}}

<!-- Modal Alerta Eliminar Producto -->
<div class="modal fade" id="alertaEliminar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Estas seguro que desea eliminar <strong>{{producto.nombre}}</strong>?
            </div>
            <div class="modal-footer">
                <a href='/producto/borrar/{{ producto.idproducto }}' class="btn btn-danger">Aceptar</a>
                <a class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{#if usuario.Admin}}
        <section class="col-12 justify-content-end d-flex mt-3">
            <a data-bs-toggle="modal" data-bs-target="#alertaEliminar" class="btn btn-danger me-2">Borrar Producto</a>
            <a href="/producto/actualizar/{{producto.idproducto}}" class="btn btn-violeta me-2">Editar Producto</a>
            <a href="/admin" class="btn btn-violeta">Inicio</a>
        </section>
        {{/if}}
        <div class="col-12">
            <article class='my-3'>
                <a href='/producto/buscar/palabra=-1/idcat={{producto.subcategoria.categoria.idcategoria}}/idsub=-1/idmarca=-1/orden=-1'
                    class='text-primary'>{{producto.subcategoria.categoria.nombre}}</a> >
                <a href='/producto/buscar/palabra=-1/idcat=-1/idsub={{producto.subcategoria.idsubcategoria}}/idmarca=-1/orden=-1'
                    class='text-primary'>{{producto.subcategoria.nombre}}</a>
            </article>
            <article class="bg-blanco border row p-3">
                <section class="col-12 col-md-8 my-2">
                    <h2 class='text-center text-md-start' name='nombreProducto' data-id={{ producto.idproducto }}>
                        {{producto.nombre}}</h2>
                    <hr>
                    <img src="/assets/img/producto/{{producto.img}}" alt="producto" class='img-fluid img-thumbnail'
                        name='imgProducto'>
                </section>
                <section class="col-12 col-md-4 my-2">
                    <div class='text-center'>
                        <h2 class="h1 textoVerdeOscuro">$<span name='precioProducto'>{{producto.precio}}</span></h2>
                        <p class='my-1'><strong>PRECIO LISTA ${{ precioCuotas producto.precio 1 }}.00</strong></p>
                    </div>
                    <hr>
                    <div class='d-flex text-secondary align-items-center'>
                        <i class="fas fa-money-bill-wave h2 me-2 text-primary"></i>
                        <div>
                            <p class='my-0'>12 cuotas sin interes de $ {{ precioCuotas producto.precio 12 }}.00 a precio de lista</p>
                            <a class='text-primary'>Ver cuotas</a>
                        </div>
                    </div>
                    <hr>
                    <div class='d-flex align-items-center textoVerdeOscuro'>
                        <i class="fas fa-check-square h2 me-2"></i>
                        <p class='my-0'><strong>STOCK: {{producto.stock}}</strong></p>
                    </div>
                    <hr>
                    <div class="d-flex text-secondary align-items-center">
                        <i class="fas fa-archway h2 me-2"></i>
                        <div>
                            <p class='my-0'><strong>RETIRO <span class='textoVerdeOscuro'>GRATIS!</span></strong></p>
                            <p class="my-0">Devoto (CABA)</p>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex text-secondary align-items-center">
                        <i class="fas fa-truck h2 me-2"></i>
                        <div>
                            <p class='my-0'><strong>ENVIO CABA <span class='textoVerdeOscuro'>$300</span></strong></p>
                            <p class="my-0">A toda Capital Federal</p>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex text-secondary align-items-center">
                        <i class="fas fa-truck h2 me-2"></i>
                        <div>
                            <p class='my-0'>Envio a todo el pais</p>
                            <a href="" class="text-primary">Ver costo de envio</a>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex text-primary align-items-center">
                        <i class="fas fa-shield-alt h2 me-2 text-violeta"></i>
                        <div>
                            <p class='my-0'><strong>GARANTÍA</strong></p>
                            <p class='my-0'>{{ producto.garantia }}</p>
                        </div>
                    </div>
                    <hr>

                    <div class='text-center'>
                        <button class='btn btn-violeta botonAgregarProducto'>
                            <i class="fas fa-shopping-cart "></i>
                            AÑADIR AL CARRITO</button>
                    </div>
                    <div class='d-flex justify-content-around mt-2'>
                        <p class='my-0 text-secondary'><strong>Marca:</strong> {{producto.marca.nombre}}</p>
                        <p class='my-0 text-secondary'><strong>Código:</strong> {{producto.codigo}}</p>
                    </div>
                </section>
                <section class="col-12">
                    <h6>Descripcion</h6>
                    <pre>{{producto.descripcion}}</pre>
                </section>
            </article>
            <h2 class='text-violeta my-3 text-center'>PRODUCTOS RELACIONADOS</h2>
            <div class="flex-wrap d-flex justify-content-center">
                {{#each productosRelacionados }}
                <a class="card text-center sombraVerde p-2 w-producto" href="/producto/perfil/{{ idproducto }}">
                    <img class="card-img-top" src="/assets/img/producto/{{ img }}" alt="" />
                    <section class='card-body' as="section">
                        <p class="text-uppercase my-0">{{ nombre }}</p>
                    </section>
                    <div>
                        <p class="textoVerde h3 my-0">ARS {{ precio }}</p>
                        <p>
                            <strong>18 cuotas de ${{ precioCuotas precio 18 }}.00</strong>
                        </p>
                        <button class="btn btn-violeta w-100">VER PRODUCTO</button>
                    </div>
                </a>
                {{ else }}
                <p class="text-center w-100">* No hay resultados para esta busqueda *</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script>
    eventoAñadirProducto()
</script>
{{!-- <script>
    copiarEnlace();
</script> --}} --}}
{{>footer}}