{{> head }}

    {{> modal }}

    <section class="max1400">
        <h3 class="titular">Pedido N° {{ pedido.id }}</h3>
        <section class="max1400">
            <p class="caracteristicas__titulo">Fecha del pedido: {{ pedido.fecha }}</p>
            <br/>
            <br/>
            <p class="caracteristicas__titulo">Medio de pago: {{ pedido.medios_pago }} efectivo</p>
            <br/>
            <br/>
            <p class="caracteristicas__titulo">Total: ${{ pedido.total }}</p>
            <br/>
            <br/>
            <p class="caracteristicas__titulo">Estado: {{ pedido.estado.nombre }}</p>
        </section>
        <section id="listaCarrito">
            {{#each productos}}
            <figure class="productoEstandar productoFila">
                <a href="/producto/perfil/{{ producto.idproducto }}" class="producto__interaccionArticulo productoFila__link">
                <img src="/assets/img/producto/{{ producto.img }}" class="productoFila__link__img" name="imgProducto">
                <h4 name="nombreProducto">{{ producto.nombre }}</h4>
                </a>
                <figcaption class="productoFila__detalle">
                    <h4>P.Unitario: $<span name="precioProducto">{{ preciounitario }}.00</span></h4>
                    <h4>Cantidad: {{ cantidad }}</h4>
                    <h4>P.Total: <span class="textoRojo">${{multiplicar preciounitario cantidad }}.00</span></h4>
                    </figcaption>
                </figure>
            {{/each}}
        </section>
    </section>

{{> footer }}